/* app.component.css */
/* Styles for the body, which will be affected by the dark mode toggle */
html {
  scroll-behavior: smooth;
  scroll-padding-top: 4rem; /* This value should match your navbar's height */
}

:host {
  scroll-behavior: smooth;
  scroll-padding-top: 4rem; /* Adjust based on your navigation bar height */
  display: block;
}

body {
  font-family: 'Inter', sans-serif;
}

/* Style for the main content area */
main {
  padding-top: 4rem; /* Same height as your nav bar to prevent content from being hidden */
}

/* Custom style for the section headings */
.section-title {
  position: relative;
  padding-bottom: 0.5rem;
  margin-bottom: 2.5rem;
  display: inline-block;
}

.section-title::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 75%;
  height: 4px;
  background-color: #8b5cf6; /* Tailwind's purple-600 */
  border-radius: 9999px;
}

:host(.dark) .section-title::after {
  background-color: #c084fc; /* Tailwind's purple-400 */
}

/* Keyframe animations for fade-in effect on page load */
.animate-fade-in {
  animation: fadeIn 1s ease-in-out forwards;
}
.delay-200 { animation-delay: 0.2s; }
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}
